conf.d/*
!conf.d/custom-nginx
!conf.d/default.conf
!conf.d/example.com
ssl
!ssl/cli.ini
ssl-log
www
geoip
protect
snippets/*
!snippets/certbot-standalone.conf
!snippets/certbot-webroot.conf
!snippets/proxy.conf
!snippets/ssl.conf
